* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1100px;
  margin: 0 auto;
}

.rectangle_wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1fr, 3);
  grid-template-areas: "rec1 rec2 rec3";
  border: 3px dotted brown;
  padding: 20px;
  margin: 30px;
}
.rectangle1 {
  width: 100%;
  grid-area: rec1;
  background: #6b9080;
}
.rectangle2 {
  width: 100%;
  grid-area: rec2;
  background: #eaf4f4;
}
.rectangle3 {
  width: 100%;
  grid-area: rec3;
  background: #cce3de;
}
